<div class="container">
    <h1 class="page-header-dty" ng-show="!edit">Create new bloc</h1>
    <h1 class="page-header-dty" ng-show="edit">Edit bloc</h1>

    <div class="form-group">
        <label>New bloc name</label>
        <br>
        <input type="text" placeholder="Bloc name" class="form-control" ng-model="vm.newBloc.name">
    </div>

    <div class="form-group">
        <label>Enter your bloc description</label>
        <textarea placeholder="Enter Lesson here..." rows="10" class="form-control" ng-model="vm.newBloc.description"></textarea>
    </div>

    <div class="form-group">
        <label for="field_bloc">Select bloc's father : </label>
        <br>
        <select required class="form-control" id="field_bloc" name="bloc" ng-model="vm.newBloc.is_son_of" ng-options="bloc as bloc.name for bloc in vm.blocs track by bloc.id">
            <option value=""></option>
        </select>
    </div>

    <div class="form-group">
        <button class="btn btn-primary-dty-inverse" ng-click="vm.saveBloc()">Validate bloc</button>
        <button class="btn btn btn-primary-dty" ui-sref="editCourse"> Back </button>
    </div>

</div>
