<div>
    <div class="page-header-dty">
        <h1>1. Statistics per lesson</h1>
    </div>

    <div><h2>Choose a lesson :</h2></div>

    <hr>


    <div ng-controller="CourseController as courseCtrl">
        <div ng-repeat="course in courseCtrl.courses track by $index">
            <div class="col-md-offset-1 col-md-3" id="courses">
                <a class="page-scroll" href="#courseLessons" ng-click="courseCtrl.setCurrentCourse($index,$event)"> <img
                        ng-src={{course.image}}>
                </a>
                <h2>{{course.name}}</h2>


            </div>
        </div>

    </div>
    <p style="color:white">
        -
    </p>


    <accordion>


    </accordion>
    <div>
        <div id="courseLessons" class="lesson-section collapse">
            <div ng-controller="CourseController as courseCtrl">

                <div>{{courseCtrl.courses[currentCourse].name}}</div>
                <div ng-repeat="lesson in courseCtrl.currentLessons">

                    <span> {{lesson.number}} : {{lesson.name}} </span>
                </div>
            </div>
        </div>

    </div>
    <hr>


    <div><h2>Lesson chosen :</h2></div>

    <hr>


    <div class="panel panel-dty">
        <div class="panel-heading">
            <h3>AngularJS, setting up your environment</h3>
        </div>
        <div class="panel-body">
            <div class="lesson-statistics-line">
                <strong>
                    <div style="float:left;">Average success rate :</div>
                </strong>
                <div style="float:right;">95%</div>
                <div class="clear-both">&nbsp;</div>
            </div>

            <div class="lesson-statistics-line">
                <strong>
                    <div style="float:left;">Highest success rate :</div>
                </strong>
                <div style="float:right;">100%</div>
                <div class="clear-both">&nbsp;</div>
            </div>
            <div class="lesson-statistics-line">
                <strong>
                    <div style="float:left;">Lowest success rate :</div>
                </strong>
                <div style="float:right;">40%</div>
                <div class="clear-both">&nbsp;</div>
            </div>
        </div>
    </div>

    <!-- Statistiques du jour --->
    <div class="page-header-dty">
        <h1>2. Daily Statistics</h1>
    </div>

    <div class="panel panel-dty">
        <div class="panel-heading">
            <h3>Lessons done by your students today :</h3>
        </div>
        <div class="panel-body">
            <div class="lesson-statistics-line">
                <strong>
                    <div style="float:left;">Student 1 :</div>
                </strong>
                <div style="float:right;">AngularJS, setting up your environment</div>
                <div class="clear-both">&nbsp;</div>
            </div>
            <div class="lesson-statistics-line">
                <strong>
                    <div style="float:left;">Student 2 :</div>
                </strong>
                <div style="float:right;">MongoDB, data research</div>
                <div class="clear-both">&nbsp;</div>
            </div>
        </div>
    </div>
</div>