<!DOCTYPE html>
<!-- Pierre D --->
<html lang="en" ng-app="dty_plateform">
<head>
    <meta charset="UTF-8">
    <title>DTY Platform - Coach statistics</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Angular --->
    <script type="text/javascript" src="../../../node_modules/angular/angular.min.js"></script>

    <!-- jQuery -->
    <script src="../../../bower_components/jquery/dist/jquery.min.js"></script>

    <!-- Scripts bootstrap --->
    <script type="text/javascript" src="../../../bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="../../../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <!--Bootstrap minifié--->
    <link rel="stylesheet" href="../../../bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!--Css Perso-->
    <link rel="stylesheet" href="../../css/main.css">
    <!-- Css Benoit --->
    <link rel="stylesheet" href="../../css/dlonlinelessons.css">

    <!-- Angular chart --->
    <script src="../../../bower_components/Chart.js/Chart.js"></script>
    <script src="../../../bower_components/angular-chart.js/dist/angular-chart.min.js"></script>
    <link rel="stylesheet" href="../../../bower_components/angular-chart.js/dist/angular-chart.css"/>

    <!-- Angular Cookies -->
    <script src="../../../node_modules/angular-cookies/angular-cookies.js"></script>

    <!-- Angular Route -->
    <script src="../../../node_modules/angular-route/angular-route.min.js"></script>

    <!-- Template Navbar/Footer --->
    <script type="text/javascript" src="../../js/inscription.js"></script>


    <!-- Scrolling Nav JavaScript -->
    <script src="../../../bower_components/jquery.easing/js/jquery.easing.min.js"></script>
    <script src="../../js/scrolling-nav.js"></script>

</head>
<body ng-controller="viewController as views" ng-init="views.selectTab(7)">
<!-- NAVBAR --->
<dty-header></dty-header>

<!-- Corps de la page --->
<div class="container">
    <!-- Statistiques par leçons --->
    <div class="page-header-dty">
        <h1>1. Statistics per lesson</h1>
    </div>

    <div><h2>Choose a lesson :</h2></div>

    <hr>


    <div ng-controller="CourseController as courseCtrl">
        <div ng-repeat="course in courseCtrl.courses">
            <div class="col-md-offset-1 col-md-3" id="courses">
                <a class="page-scroll" href={{"#courseLessons"+course.name}}> <img ng-src={{course.image}}>
                </a>
                <h2>{{course.name}}</h2>


            </div>
        </div>

    </div>
    <p style="color:white">
        -
    </p>
    <div ng-controller="CourseController as courseCtrl">
        <div ng-repeat="course in courseCtrl.courses">
            <div hg-attr-id={{"courseLessons"+course.name}} class="lesson-section collapse">

                <div ng-repeat="lesson in courseCtrl.allLessons[0].lessons">
                    <span> {{lesson.number}} : {{lesson.date}}</span>
                </div>
            </div>
        </div>
    </div>


    <hr>


    <div><h2>Lesson chosen :</h2></div>

    <hr>


    <div class="panel panel-dty">
        <div class="panel-heading">
            <h3>AngularJS, setting up your environment</h3>
        </div>
        <div class="panel-body">
            <div class="lesson-statistics-line">
                <strong>
                    <div style="float:left;">Average success rate :</div>
                </strong>
                <div style="float:right;">95%</div>
                <div class="clear-both">&nbsp;</div>
            </div>

            <div class="lesson-statistics-line">
                <strong>
                    <div style="float:left;">Highest success rate :</div>
                </strong>
                <div style="float:right;">100%</div>
                <div class="clear-both">&nbsp;</div>
            </div>
            <div class="lesson-statistics-line">
                <strong>
                    <div style="float:left;">Lowest success rate :</div>
                </strong>
                <div style="float:right;">40%</div>
                <div class="clear-both">&nbsp;</div>
            </div>
        </div>
    </div>

    <!-- Statistiques du jour --->
    <div class="page-header-dty">
        <h1>2. Daily Statistics</h1>
    </div>

    <div class="panel panel-dty">
        <div class="panel-heading">
            <h3>Lessons done by your students today :</h3>
        </div>
        <div class="panel-body">
            <div class="lesson-statistics-line">
                <strong>
                    <div style="float:left;">Student 1 :</div>
                </strong>
                <div style="float:right;">AngularJS, setting up your environment</div>
                <div class="clear-both">&nbsp;</div>
            </div>
            <div class="lesson-statistics-line">
                <strong>
                    <div style="float:left;">Student 2 :</div>
                </strong>
                <div style="float:right;">MongoDB, data research</div>
                <div class="clear-both">&nbsp;</div>
            </div>
        </div>
    </div>

    <dty-footer></dty-footer>

</div>

</body>
</html>