<div class="container">
    <jhi-alert></jhi-alert>
    <h1 class="page-header-dty">Create a new lesson</h1>

    <div class="form-group col-xs-6 col-sm-6 pull-left" style="margin-top: 40px">
        <label for="field_bloc">Select bloc name : </label>
        <br>
        <select required class="form-control" id="field_bloc" name="bloc" ng-model="vm.newLesson.bloc" ng-options="bloc as bloc.name for bloc in vm.blocs track by bloc.id">
            <option value=""></option>
        </select>
    </div>

    <br>

    <div class="form-group col-xs-6 col-sm-6 pull-left" style="margin-top: 20px">
        <label for="field_level">Level of the lesson : </label>
        <br>
        <select required class="form-control" id="field_level" name="level" ng-model="vm.newLesson.level" ng-options="level for level in vm.tabLevel">
            <option value=""></option>
        </select>
    </div>

    <div class="form-group col-xs-6 col-sm-6 " style="margin-top: 20px">
        <label for="field_last_lesson">Is it the last quizz of your Bloc ? (Necessary to give the badge)  </label>
        <div class="checkbox">
            <label><input type="checkbox" ng-model="vm.newLesson.islast" id="field_last_lesson" value="">Yes</label>
        </div>
    </div>

    <div class="col-md-12">

        <h2 class="page-header color-dty">Lesson
            <button type="button" ng-click="vm.saveLesson()" class="btn btn-primary-dty-inverse pull-right" ng-disabled="vm.isSaving">Submit Lesson</button>
        </h2>

        <div class="form-group">
            <label>Lesson Title</label>
            <input required type="text" placeholder="Enter Lesson Title here..." class="form-control" ng-model="vm.newLesson.title">
        </div>

        <div class="form-group">
            <label>Enter your lesson</label>
            <textarea required data-ck-editor placeholder="Enter Lesson here..." rows="10" class="form-control" ng-model="vm.newLesson.cours"></textarea>
        </div>

        <div class="form-group">

            <label>Quizz</label>

            <div ng-repeat="question in vm.quizz">

                <!-- QUESTION -->

                <label>Question {{question.cpt}}</label>
                <div class="input-group">
                    <input type="text" placeholder="Enter question here..." class="form-control" ng-model="question.intitule">
                    <span class="input-group-btn">
                        <button type="button" ng-click="vm.removeQuestion(question.cpt)" class="btn btn-md btn-primary-dty-inverse pull-right">Remove question</button>
                    </span>
                </div>

                <!-- REPONSES A LA QUESTION -->

                <label>Answers</label>

                <div class="col-ld-12" ng-repeat="answer in vm.answers[question.cpt - 1]">

                    <div class="input-group">
                        <span class="input-group-addon">
                            <input type="checkbox" ng-click="vm.modifyVeracity(question.cpt, answer.cpt)">
                        </span>
                        <input type="text" placeholder="Answer {{answer.cpt}}" class="form-control" ng-model="answer.text">
                        <input type="text" placeholder="Correction {{answer.cpt}}" class="form-control" ng-model="answer.correction">
                        <span class="input-group-btn">
                            <button type="button" ng-click="vm.removeAnswer(answer.cpt, question.cpt)" style="top: 0" class="btn btn-default btn-primary-dty-inverse btn-two-lines pull-right glyphicon glyphicon-remove"></button>
                        </span>
                    </div>

                </div>


                <button type="button" ng-click="vm.addAnswer(question.cpt)" class="btn btn-md btn-primary-dty-inverse pull-left" aria-label="Left Align">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add answer
                </button>


                <br/>
                <br/>

                <!-- CORRECTION DE LA QUESTION -->

                <div class="form-group">
                    <label>Correction</label>
                    <textarea placeholder="Correction" rows="5" class="form-control" ng-model="question.correction"></textarea>
                </div>


            </div>
            <button type="button" ng-click="vm.addQuestion()" class="btn btn-md btn-primary-dty-inverse ">Add question</button>
        </div>
    </div>
</div>
