
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myStudentLabel">Create or edit a Student</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.student.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.student.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="objectifDtyApp.student.nb_lesson_today" for="field_nb_lesson_today">Nb Lesson Today</label>
            <input type="number" class="form-control" name="nb_lesson_today" id="field_nb_lesson_today"
                    ng-model="vm.student.nb_lesson_today"
                     />
        </div>

        <div class="form-group">
            <label translate="objectifDtyApp.student.owned_badge" for="field_owned_badge">Owned Badge</label>
            <select class="form-control" id="field_owned_badge" multiple name="owned_badge" ng-model="vm.student.owned_badges" ng-options="badge as badge.name for badge in vm.badges track by badge.id"></select>
        </div>
        <div class="form-group">
            <label for="field_user">User</label>
            <select class="form-control" id="field_user" name="user" ng-model="vm.student.user" ng-options="user as user.login for user in vm.users track by user.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label translate="objectifDtyApp.student.todo_lesson" for="field_todo_lesson">Todo Lesson</label>
            <select class="form-control" id="field_todo_lesson" name="todo_lesson" ng-model="vm.student.todo_lesson" ng-options="lesson as lesson.title for lesson in vm.lessons track by lesson.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
