<footer>
    <hr>
    <p>
        <a href="http://www.ecp.fr/op/files/home/Formations/Cursus_ingenieur_centralien/parcours_digital" class="col-sm-3">Présentation du programme Digital Tech Year</a>
        <a href="http://www.innovationfcty.fr/campus/cs-paris-digital-lab/" class="col-sm-3">Page de l'Innovation Factory </a>
        <a href="http://www.paris-digital-lab.com" class="col-sm-3">Site du Paris Digital Lab</a>
        <a href="mailto:dty.contact@listes.centralesupelec.fr" class="col-sm-3">Nous contacter</a>
        <strong style = "float:right" class="col-sm-3">By DTY for DTY</strong>
    </p>
</footer>
