<form class="form-inline" role="form" id="log-in" method="post" ng-submit="login()" novalidate>
    <div class="form-group">
        <p>
            <label class="control-label" for="pseudo">Username </label> :
            <input type="text" name="pseudo" id="pseudo" class="form-control" ng-model="userType" placeholder="Ex : Ouemelette" ng-model="logInCtrl.username" required />
        </p>
        <p>
            <label class="control-label" for="pwd">Password </label> :
            <input type="password" name="pwd" id="pwd" class="form-control" placeholder="Ex : *******" ng-model="logInCtrl.password" required />
        </p>
        <button class="btn btn-primary-dty-inverse" type="submit" ng-click="logInCtrl.isValid()"> <span class="glyphicon glyphicon-log-in"></span> Log In</button>
    </div>
</form>