<!DOCTYPE html>
<html lang="en" ng-app="dty_plateforme" >

<head>
    <meta charset="utf-8">
    <title>CS Digital Lab - Online lessons</title>

    <!-- Bootstrap Core CSS -->
    <link href="../../../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <script type="text/javascript" src="../../../node_modules/angular/angular.min.js"></script>
    <script type="text/javascript" src="../../js/inscription.js"></script>
</head>

<body>
<dty-header></dty-header>
<!-- Page Content -->
<div class="container">

    <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-md-offset-3 col-md-9">

            <h1 class="page-header" style="color: #e00432">
                Apprendre à utiliser Git
            </h1>

            <!-- First Blog Post -->
            <h2 style="color:#ec971f">
                Les logiciels de Gestions de versions
            </h2>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, veritatis, tempora, necessitatibus inventore nisi quam quia repellat ut tempore laborum possimus eum dicta id animi corrupti debitis ipsum officiis rerum.</p>
            <a class="btn btn-primary" href="#">En savoir plus<span class="glyphicon glyphicon-chevron-right"></span></a>

            <hr>

            <!-- Second Blog Post -->
            <h2 style="color:#ec971f">
                Installer git
            </h2>
            <hr>
            <img class="img-responsive" src="http://placehold.it/900x300" alt="">
            <hr>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam, quasi, fugiat, asperiores harum voluptatum tenetur a possimus nesciunt quod accusamus saepe tempora ipsam distinctio minima dolorum perferendis labore impedit voluptates!</p>

            <hr>

            <!-- Third Blog Post -->
            <h2 style="color:#ec971f">
                Les differentes commandes git
            </h2>



            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, voluptates, voluptas dolore ipsam cumque quam veniam accusantium laudantium adipisci architecto itaque dicta aperiam maiores provident id incidunt autem. Magni, ratione.</p>
            <a class="btn btn-primary" href="#">En savoir plus <span class="glyphicon glyphicon-chevron-right"></span></a>

            <hr>

            <div class="page-header" style="color:#ec971f">
                <h1>3. Exercise</h1>
            </div>
            Choisissez la bonne réponse!

            <div class="Exercise">
                <ul class="list-group">
                    <li class="list-group-item">Quelle est la commande de Git qui permet de se positionner sur un ancien commit ?<select name="e1">.
                        <option value=""></option>
                        <option value="checkout">checkout</option>
                        <option value="log">log</option>
                        <option value="revert">revert</option>
                    </select></li>
                    <li class="list-group-item">I want a JVM-based language. I will use <select name="e2">.
                        <option value=""></option>
                        <option value="Groovy">Groovy</option>
                        <option value="C#">C#</option>
                        <option value="JavaScript">JavaScript</option>
                    </select></li>
                    <li class="list-group-item">I want a command to extract a column of my CSV file. I will use <select name="e3">.
                        <option value=""></option>
                        <option value="Cut">Cut</option>
                        <option value="Grep">Grep</option>
                        <option value="Tail">Tail</option>
                    </select></li>
                    <li class="list-group-item">I have a Raspberry PI 2, what Operating System I can<b>NOT</b> use <select name="e4">.
                        <option value=""></option>
                        <option value="Windows">Windows</option>
                        <option value="Linux">Linux</option>
                        <option value="Mac OS X">Mac OS X</option>
                    </select></li>
                </ul>
            </div>

        </div>

        <!-- Pager -->
        <ul class="pager">
            <li class="previous">
                <a href="#">&larr; voir les anciens cours</a>
            </li>
            <li class="next">
                <a href="#">Correction &rarr;</a>
            </li>
        </ul>



    </div>
    <!-- /.row -->

    <hr>

    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Créé par la DTY pour la DTY</p>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
    </footer>

</div>
<!-- /.container -->

</body>

</html>