<!DOCTYPE html>
<html lang="en" ng-app="dty_plateform" >

<head>
    <meta charset="utf-8">
    <title>CS Digital Lab - Online lessons</title>

    <link href="../../../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <script type="text/javascript" src="../../../bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="../../../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../../node_modules/angular/angular.min.js"></script>
    <script type="text/javascript" src="../../js/inscription.js"></script>
    <link rel="stylesheet" type="text/css" href="../../css/main.css">
</head>

<body>

<dty-header></dty-header>
<!-- Page Content -->
<div class="container">

    <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-md-offset-1 col-md-10">

            <div class = "page-header-dty"><h1>
                1. Learn to use GIT
            </h1></div>

            <!-- First Blog Post -->
            <h2>
                Version Control Software
            </h2>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, veritatis, tempora, necessitatibus inventore nisi quam quia repellat ut tempore laborum possimus eum dicta id animi corrupti debitis ipsum officiis rerum.</p>
            <a class="btn btn-primary-dty" href="#">En savoir plus<span class="glyphicon glyphicon-chevron-right"></span></a>

            <hr>

            <!-- Second Blog Post -->
            <h2>
                Install git
            </h2>
            <hr>
            <img class="img-responsive" src="http://placehold.it/900x300" alt="">
            <hr>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam, quasi, fugiat, asperiores harum voluptatum tenetur a possimus nesciunt quod accusamus saepe tempora ipsam distinctio minima dolorum perferendis labore impedit voluptates!</p>

            <hr>

            <!-- Third Blog Post -->
            <h2>
                Use git!
            </h2>



            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, voluptates, voluptas dolore ipsam cumque quam veniam accusantium laudantium adipisci architecto itaque dicta aperiam maiores provident id incidunt autem. Magni, ratione.</p>
            <a class="btn btn-primary-dty" href="#">En savoir plus <span class="glyphicon glyphicon-chevron-right"></span></a>

            <hr>

            <div class="page-header-dty">
                <h1>2. Exercise</h1>
            </div>
            Choose the right answer!

            <div class="Exercise">
                <ul class="list-group">
                    <li class="list-group-item">What is the git command that sets you on an old commit ? <select name="e1">.
                        <option value=""></option>
                        <option value="checkout">checkout</option>
                        <option value="log">log</option>
                        <option value="revert">revert</option>
                    </select></li>
                    <li class="list-group-item">What is the git command that sends your modifications on a remote ? <select name="e2">.
                        <option value=""></option>
                        <option value="commit">Commit</option>
                        <option value="pull">pull</option>
                        <option value="push">Push</option>
                    </select></li>
                    <li class="list-group-item">What is the git command that shows you the action of others developers after you used the git pull command ? <select name="e3">.
                        <option value=""></option>
                        <option value="Status">Status</option>
                        <option value="log">Log</option>
                        <option value="Push">Push</option>
                    </select></li>
                    <li class="list-group-item">What is the git command that shows you on wich branch you are ? <select name="e4">.
                        <option value=""></option>
                        <option value="status">Status</option>
                        <option value="Log">Log</option>
                        <option value="Push">Push</option>
                    </select></li>
                </ul>
            </div>

        </div>

        <!-- Pager -->
        <ul class="pager">
            <li class="previous">
                <a href="#">&larr; voir les anciens cours</a>
            </li>
            <li class="next">
                <a href="#">Correction &rarr;</a>
            </li>
        </ul>



    </div>
    <!-- /.row -->

    <!-- Footer -->
    <dty-footer></dty-footer>

</div>
<!-- /.container -->

</body>

</html>