<nav class="navbar navbar-default container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><span style="color: #4F405D">DTY</span> <span style="color: #87102C">Plateform</span> - Online Lessons</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/" ng-class="{activeDTY : views.isSelected(1)}" ng-click="views.selectTab(1)">Home</a></li>
                <li><a href ng-hide="loggedAs == 'coach'">Getting started !</a></li>
                <li class="dropdown" ng-show="authenticated">
                    <a href class="dropdown-toggle" ng-class="{activeDTY : views.isSelected(2)}" ng-click="views.selectTab(2)" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Lessons <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href>General</a></li>
                        <li><a href="/cours">Git</a></li>
                        <li><a href>Mongoose/MongoDB</a></li>
                        <li><a href>Express</a></li>
                        <li><a href>Angular.js</a></li>
                        <li><a href>Node.js</a></li>
                    </ul>
                </li>
                <li><a href ng-show="authenticated && loggedAs == 'student'">History</a></li>
                <li><a href="/user/profile" ng-show="authenticated && loggedAs == 'student'" ng-class="{activeDTY : views.isSelected(5)}" ng-click="views.selectTab(5)">Statistics</a></li>
                <li><a href="/coach/profile/students" ng-show="authenticated && loggedAs == 'coach'" ng-class="{activeDTY : views.isSelected(6)}" ng-click="views.selectTab(6)">Students</a></li>
                <li><a href="/coach/profile/stats" ng-show="authenticated && loggedAs == 'coach'" ng-class="{activeDTY : views.isSelected(7)}" ng-click="views.selectTab(7)">Statistics</a></li>

            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/signup" ng-hide="authenticated" ng-class="{activeDTY : views.isSelected(3)}" ng-click="views.selectTab(3)"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                <li><a href="/login" style="padding-right: 30px" ng-hide="authenticated" ng-class="{activeDTY : views.isSelected(4)}" ng-click="views.selectTab(4)"><span class="glyphicon glyphicon-log-in"></span> Log In</a></li>
                <li><a href ng-show="authenticated" ng-click="logout()"><span class="glyphicon glyphicon-remove"></span>Log out</a></li>
            </ul>
        </div><!--/.nav-collapse -->
</nav>