<nav class="navbar navbar-default container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><span style="color: #4F405D">DTY</span> <span style="color: #87102C">Platform</span> - Online Lessons</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a ui-sref="home" ui-sref-active="activeDTY">Home</a></li>
                <li><a ui-sref="presentation" ui-sref-active="activeDTY" ng-hide="authenticated">Presentation</a></li>
                <li><a ui-sref="cours" ng-show="authenticated && loggedAs == 'student'" ui-sref-active="activeDTY">Today's lesson</a></li>
                <li><a ui-sref="userCourses" ng-show="authenticated && loggedAs == 'student'" ui-sref-active="activeDTY">Progression</a></li>
                <li class="dropdown" ng-show="authenticated">
                    <a href class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Lessons <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a ui-sref="intro">Introduction</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a ui-sref="cours" ui-sref-active="activeDTY">Git</a></li>
                        <li role="separator" class="divider"></li>
                        <li class="dropdown-header">Web development</li>
                        <li><a href>HTML/CSS</a></li>
                        <li><a href>Mongoose/MongoDB</a></li>
                        <li><a href>Express.js</a></li>
                        <li><a href>Angular.js</a></li>
                        <li><a href>Node.js</a></li>
                        <li role="separator" class="divider"></li>
                        <li class="dropdown-header">Mobile development</li>
                        <li><a href>Swift</a></li>
                        <li><a href>Android</a></li>
                    </ul>
                </li>
                <li><a ui-sref="coachStudents" ng-show="authenticated && loggedAs == 'coach'" ui-sref-active="activeDTY">Students</a></li>
                <li><a ui-sref="coachStats" ng-show="authenticated && loggedAs == 'coach'" ui-sref-active="activeDTY">Statistics</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right" ng-controller = "loginController">
                <li><a ui-sref="signup" ng-hide="authenticated" ui-sref-active="activeDTY"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                <li><a ui-sref="login" style="padding-right: 30px" ng-hide="authenticated" ui-sref-active="activeDTY"><span class="glyphicon glyphicon-log-in"></span> Log In</a></li>
                <li><a ui-sref="home" ng-show="authenticated"><span class="glyphicon glyphicon-cog"></span> Personal Settings</a></li>
                <li><a ui-sref="home" ng-show="authenticated" ng-click="logout()"><span class="glyphicon glyphicon-remove"></span>Log out</a></li>
            </ul>
        </div><!--/.nav-collapse -->
</nav>