<!DOCTYPE html>

<!-- Vincent Houlbreque -->

<html lang="en" ng-app="dty_plateform">
<head>
    <meta charset="utf-8">

    <!-- Compatibilité avec Internet Explorer -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- ANGULAR -->
    <script src="../../../node_modules/angular/angular.min.js"></script>

    <!-- Affichage des graphes -->
    <link rel="stylesheet" href="../../../bower_components/angular-chart.js/dist/angular-chart.css" />
    <script src="../../../bower_components/Chart.js/Chart.js"></script>
    <script src="../../../bower_components/angular-chart.js/dist/angular-chart.min.js"></script>


    <!-- Script de la page -->
    <script src="../../js/inscription.js"></script>


    <!-- BOOTSTRAP -->
    <link rel="stylesheet" href="../../../bower_components/bootstrap/dist/css/bootstrap.min.css">
    <script type="text/javascript" src="../../../bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="../../../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- CSS de la page -->
    <link rel="stylesheet" type="text/css" href="../../css/main.css">

    <title>DTY - User Profile</title>



</head>

<body ng-app="dty_plateform" ng-controller="viewController as views" ng-init="views.selectTab(5)">

    <!-- NAVBAR --->

    <dty-header></dty-header>


    <!-- PROFILE -->


    <div class="container">
        <!-- NAV BAR -->

        <div ng-controller = "viewController as viewCtrl">

            <div ng-show="viewCtrl.isSelected(1)">

                <!-- LESSONS -->
                <!-- List of lessons and different parameters (level, description) -->

                <div class="row">
                    <div class="col-md-offset-1 col-md-10">
                        <div class = "page-header-dty">
                            <h1>
                                Your courses :
                            </h1>
                        </div>
                        <p>We strongly advise you to do the lesson of the day before doing any other lesson.</p>
                        <a class="btn btn-primary-dty" href="#">Go to today's lesson !
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </a>

                        <hr>

                        <h2>
                            List of your courses :
                        </h2>

                        <hr>

                    </div>


                    <!-- AFFICHAGE DES DIFFERENTS COURS -->


                    <div ng-controller="CourseController as courseCtrl">
                        <div ng-repeat="course in courseCtrl.courses">
                            <div class="col-md-offset-1 col-md-3" id="courses">
                                <a href={{course.link}}><img ng-src={{course.image}}></a>
                                    <p>
                                        <h2>{{course.name}}</h2>Your level : {{course.level}} %<br/>
                                {{course.description}}<br/>Remaining courses : {{course.coursesToDo}}
                                    </p>
                            </div>
                        </div>
                    </div>


                </div>

            </div>

            <!-- AFFICHAGE DES STATISTIQUES -->
            <div ng-show="viewCtrl.isSelected(1)">
            <!-- TODO changer isSelected(1) en isSelected(2)-->

                <div class="row">
                    <div class="col-md-offset-1 col-md-11">

                        <h1 class="page-header-dty">
                            Your statistics :
                        </h1>

                        <!-- AFFICHAGE DES GRAPHES -->

                        <div class="graph-assiduousness">
                            <div ng-controller="LineCtrl">
                                <canvas id="line" class="chart chart-line" chart-data="data" chart-labels="labels"
                                        chart-legend="false" chart-series="series" chart-click="onClick"></canvas>
                            </div>
                        </div>


                        <p> You can see on this page your statistics, your assiduousness, your levels, your goals, your
                            profile data and many other things with graphs and colors !
                            <br/>
                            As you can see, it takes the form of graphs just like the one above.
                        </p>



                        <hr>

                    </div>

                </div>


            </div>


        </div>

        <!-- FOOTER -->
        <dty-footer></dty-footer>


    </div>


</body>

</html>