<!DOCTYPE html>

<!-- Vincent Houlbreque -->

<html lang="en" ng-app="dty_plateform">

<head>
    <meta charset="utf-8">

    <!-- Compatibilité avec Internet Explorer -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- ANGULAR -->
    <script src="../../../node_modules/angular/angular.min.js"></script>

    <!-- Affichage des graphes -->
    <link rel="stylesheet" href="../../../bower_components/angular-chart.js/dist/angular-chart.css" />
    <script src="../../../bower_components/Chart.js/Chart.js"></script>
    <script src="../../../bower_components/angular-chart.js/dist/angular-chart.min.js"></script>

    <!-- Angular Cookies -->
    <script src="../../../node_modules/angular-cookies/angular-cookies.js"></script>

    <!-- Angular Route -->
    <script src="../../../node_modules/angular-route/angular-route.min.js"></script>

    <!-- Script de la page -->
    <script src="../../js/inscription.js"></script>


    <!-- BOOTSTRAP -->
    <link rel="stylesheet" href="../../../bower_components/bootstrap/dist/css/bootstrap.min.css">
    <script type="text/javascript" src="../../../bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="../../../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- CSS de la page -->
    <link rel="stylesheet" type="text/css" href="../../css/main.css">

    <title>DTY Platform - Rewards</title>


</head>


<body ng-controller="viewController as views">

    <!-- NAVBAR --->
    <dty-header></dty-header>

    <!-- Page Content -->
    <div class="container">

        <!-- Introduction Row -->
        <div class="row">
            <div class="col-lg-12 page-header-dty">
                <h1>Rewards
                    <small></small>
                </h1>
            </div>
            <p>Because your fidelity and your progression are important, we congratulate you for your hard-won
                badges !
            </p>
        </div>

        <!-- Team Members Row -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Your badges</h2>
            </div>

            <div ng-controller="BadgeController as badgeCtrl">
                <div ng-repeat="badge in badgeCtrl.badges">
                    <div class="col-lg-4 col-sm-6 text-center">
                        <img class="img-circle img-responsive img-center" src={{badge.image}} alt="">
                        <h3>{{badge.name}}
                            <small></small>
                        </h3>
                        <p>{{badge.description}}</p>
                    </div>
                </div>
            </div>
            <hr>
        </div>

        <!-- FOOTER -->
        <dty-footer></dty-footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>




</body>



</html>