<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <!-- Compatibilité avec Internet Explorer -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- ANGULAR -->
    <script src="../../../node_modules/angular/angular.min.js"></script>

    <!-- Affichage des graphes -->
    <link rel="stylesheet" href="../../../bower_components/angular-chart.js/dist/angular-chart.css" />
    <script src="../../../bower_components/Chart.js/Chart.js"></script>
    <script src="../../../bower_components/angular-chart.js/dist/angular-chart.min.js"></script>

    <!-- Angular Cookies -->
    <script src="../../../node_modules/angular-cookies/angular-cookies.js"></script>

    <!-- Angular Route -->
    <script src="../../../node_modules/angular-route/angular-route.min.js"></script>

    <!-- Script de la page -->
    <script src="../../js/inscription.js"></script>


    <!-- BOOTSTRAP -->
    <link rel="stylesheet" href="../../../bower_components/bootstrap/dist/css/bootstrap.min.css">
    <script type="text/javascript" src="../../../bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="../../../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- CSS de la page -->
    <link rel="stylesheet" type="text/css" href="../../css/main.css">

    <!-- TITLE -->
    <title>DTY Platform - Test</title>
</head>


<body ng-app="dty_plateform" ng-controller="viewController as views">

    <!-- NAVBAR --->
    <dty-header></dty-header>

    <div class="container">
        <!-- Introduction Row -->
        <div class="row">
            <div class="col-lg-12 page-header-dty">
                <h1>Rewards
                    <small>Choose the right answer!</small>
                </h1>
            </div>
            <p>This is a test to evaluate your current level in different kinds of technologies. There is absolutely no
                reason to cheat on this test !
            </p>

            <hr>

        </div>

        <!-- EXERCICES -->

        <div class="Exercise">
            <ul class="list-group">
                <h2>Git : </h2>
                <li class="list-group-item">What is the git command that sets you on an old commit ? <select name="e1">.
                    <option value=""></option>
                    <option value="checkout">checkout</option>
                    <option value="log">log</option>
                    <option value="revert">revert</option>
                </select></li>
                <li class="list-group-item">What is the git command that sends your modifications on a remote ? <select
                        name="e2">.
                    <option value=""></option>
                    <option value="commit">Commit</option>
                    <option value="pull">pull</option>
                    <option value="push">Push</option>
                </select></li>
                <li class="list-group-item">What is the git command that shows you the action of others developers after
                    you used the git pull command ? <select name="e3">.
                    <option value=""></option>
                    <option value="Status">Status</option>
                    <option value="log">Log</option>
                    <option value="Push">Push</option>
                </select></li>
                <li class="list-group-item">What is the git command that shows you on which branch you are ? <select
                        name="e4">.
                    <option value=""></option>
                    <option value="status">Status</option>
                    <option value="Log">Log</option>
                    <option value="Push">Push</option>
                </select></li>
            </ul>

            <hr>

            <ul class="list-group">
                <h2>Javascript : </h2>
                <li class="list-group-item">What is the git command that sets you on an old commit ? <select name="e1">.
                    <option value=""></option>
                    <option value="checkout">checkout</option>
                    <option value="log">log</option>
                    <option value="revert">revert</option>
                </select></li>
                <li class="list-group-item">What is the git command that sends your modifications on a remote ? <select
                        name="e2">.
                    <option value=""></option>
                    <option value="commit">Commit</option>
                    <option value="pull">pull</option>
                    <option value="push">Push</option>
                </select></li>
                <li class="list-group-item">What is the git command that shows you the action of others developers after
                    you used the git pull command ? <select name="e3">.
                    <option value=""></option>
                    <option value="Status">Status</option>
                    <option value="log">Log</option>
                    <option value="Push">Push</option>
                </select></li>
                <li class="list-group-item">What is the git command that shows you on which branch you are ? <select
                        name="e4">.
                    <option value=""></option>
                    <option value="status">Status</option>
                    <option value="Log">Log</option>
                    <option value="Push">Push</option>
                </select></li>
            </ul>

            <hr>

            <ul class="list-group">
                <h2>C++ : </h2>
                <li class="list-group-item">What is the git command that sets you on an old commit ? <select name="e1">.
                    <option value=""></option>
                    <option value="checkout">checkout</option>
                    <option value="log">log</option>
                    <option value="revert">revert</option>
                </select></li>
                <li class="list-group-item">What is the git command that sends your modifications on a remote ? <select
                        name="e2">.
                    <option value=""></option>
                    <option value="commit">Commit</option>
                    <option value="pull">pull</option>
                    <option value="push">Push</option>
                </select></li>
                <li class="list-group-item">What is the git command that shows you the action of others developers after
                    you used the git pull command ? <select name="e3">.
                    <option value=""></option>
                    <option value="Status">Status</option>
                    <option value="log">Log</option>
                    <option value="Push">Push</option>
                </select></li>
                <li class="list-group-item">What is the git command that shows you on which branch you are ? <select
                        name="e4">.
                    <option value=""></option>
                    <option value="status">Status</option>
                    <option value="Log">Log</option>
                    <option value="Push">Push</option>
                </select></li>
            </ul>

            <hr>

        </div>

        <!-- FOOTER -->
        <dty-footer></dty-footer>


    </div>





</body>
</html>