<div >
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
            ng-click="vm.clear()">&times;</button>
    <h4 class="modal-title" id="myBlocLabel">Choose your new Bloc!</h4>

</div>
<div class="container">
    <div >
        <div class="alert alert-info col-sm-8 colSM col-md-11 col-lg-9" style="margin-top:10px;" >
            <strong>Tips :</strong> You can see the description by hovering on their logo !
        </div>
        <div ng-repeat="bloc in vm.blocs">
            <a ng-click="vm.setNextBloc(bloc)">
                <div class="col-sm-8 colSM col-md-5 col-lg-4" id="courses" ng-class="{'colMD': (($index)%2) === 1 , 'colLG': !($index%2 === 0)}" >
                <div class="row">
                    <div class="col-md-12">
                        <img class="fixView"
                             ng-src={{bloc.logo}} ng-attr-title="{{bloc.description}}">

                        <p class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <h2>{{bloc.name}} </h2>
                        </p>
                    </div>
                </div>
                </div>
            </a>
        </div>
    </div>
</div>
</div>
