<div ng-bind-html="vm.lesson.cours"></div>

<div class="page-header-dty"><h1>2. Exercise</h1></div>
<div style="margin-bottom:2%;">
    Choose the right answer!
</div>


<div class="Exercise">
    <ul class="list-group">
        <li class="list-group-item" ng-repeat="question in vm.lesson.questions" style="margin-bottom:2%;"> Question
            n°{{$index +1}} : {{question.intitule}}
            <select name="repeatSelect" id="repeatSelect" ng-model="question.score" class="form-control"
                    style="margin-top:1%;">.
                <option ng-repeat="response in question.responses" value={{response.veracity}}>{{response.text}}
                </option>
            </select>
        </li>
    </ul>
    <button ng-click="vm.submitLesson()" ng-hide="vm.scoreCalc" class="btn btn-primary-dty-inverse">Submit my answers
    </button>

    <div class="container row">
        <div ng-hide="vm.lessonDoneNew">


            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h4> That lesson was already submitted ! <br/></h4>
            </div>


            <p class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <br/> Your initial score : {{vm.lesson_dones[vm.lessonDoneI].note_init}}%
                <span id="ImgScoreInit">
                </span>
            <p class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <br/> Your best score : {{vm.lesson_dones[vm.lessonDoneI].note_max}}% !
                <span id="ImgScoreMax">
                </span>
            </p>
        </div>

        <div ng-show="vm.scoreCalc">
            <p class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                <br/>
            <h2> The score you obtained this time : {{vm.score}}%
                <span id="ImgScoreDone">
                </span></h2>
            </p>
        </div>
    </div>

    <div>
        <button type="submit"
                ng-show="vm.chooseNewBloc"
                ui-sref="choosecourse"
                class="btn btn-primary-dty">
            Choose a new bloc!
        </button>
    </div>

    <div>
        <button class="btn btn-primary-dty-inverse pull-right">Go to the next lesson <span class="glyphicon glyphicon-chevron-right"></span> </button>
    </div>



</div>

