<div class="form-group">
    <div class="form-group">Here is the actual lesson:
        <p ng-bind-html="vm.course.cours">
        </p>
        <button class="btn btn-primary-dty" ng-click="vm.changeCourse()">
            Modify Course
        </button>
    </div>

    <div ng-show="vm.modifyCourse">
        <textarea data-ck-editor class="form-control" ng-model="vm.newContent"></textarea>
        <button class="btn btn-primary-dty-inverse" ng-click="vm.saveChanges()">Save changes</button>
    </div>
</div>

<div ng-repeat="question in vm.questions" class="form-group">
    <div ng-show="question.intitule">
        <div class="form-group">
            <span>
                Question: {{question.intitule}}
            </span>
            <button class="btn btn-primary-dty" ng-click="vm.editQuestion(vm.questions.indexOf(question))">
                Edit question
            </button>
        </div>
        <div style="color: blue" class="form-group" ng-show="!vm.editedQuestions[vm.questions.indexOf(question)]">
            Question global correction: {{question.correction}}
        </div>
        <div class="input-group form-group" ng-show="vm.editedQuestions[vm.questions.indexOf(question)]">
            <span class="input-group-btn">
                <button type="button" ng-click="vm.saveQuestion(question)"
                        class="btn btn-md btn-primary-dty-inverse pull-right btn-two-lines" style="padding-top: 23px; padding-bottom: 23px">Save changes</button>
            </span>
            <input type="text" placeholder="Enter question here..." class="form-control" ng-model="question.intitule">
            <input type="text" placeholder="Enter correction here..." class="form-control" ng-model="question.correction">
            <span class="input-group-btn">
                <button type="button" ng-click="vm.deleteQuestion(question)"
                        class="btn btn-md btn-primary-dty pull-right btn-two-lines" style="padding-top: 23px; padding-bottom: 23px">Remove question</button>
            </span>
        </div>
        <div class="form-group">
            All the answers:
        </div>
        <div ng-repeat="response in vm.responses[vm.questions.indexOf(question)]">
            <div ng-hide="vm.editedQuestions[vm.questions.indexOf(question)]">
                Response: {{response.text}}<br>
                <div ng-class="{correctAnswer: response.veracity, incorrectAnswer: !response.veracity}">Answer correction: {{response.correction}}</div>
            </div>
            <div class="input-group" ng-show="vm.editedQuestions[vm.questions.indexOf(question)]">
                <span class="input-group-addon">
                    <input type="checkbox" ng-click="" ng-model="response.veracity" style="padding-top: 23px; padding-bottom: 23px">
                </span>
                <input type="text" placeholder="Enter question here..." class="form-control" ng-model="response.text">
                <input type="text" placeholder="Enter answer here..." class="form-control" ng-model="response.correction">
                <span class="input-group-btn">
                    <button type="button" ng-click="vm.deleteResponse(question, response)"
                            class="btn btn-md btn-primary-dty pull-right btn-two-lines" style="padding-top: 23px; padding-bottom: 23px">Remove answer</button>
                </span>
            </div>
        </div>
        <button style="margin-bottom: 15px; margin-top: 15px" class="btn btn-primary-dty" ng-show="vm.editedQuestions[vm.questions.indexOf(question)]" ng-click="vm.addAnswer(question)">Add One Answer</button>
        <div class="input-group" ng-show="vm.addingAnswer[vm.questions.indexOf(question)]" >
            <span class="input-group-addon">
                    <input type="checkbox" ng-click="" ng-model="vm.newVeracity" style="padding-top: 23px; padding-bottom: 23px">
            </span>
            <input type="text" placeholder="Enter answer here..." class="form-control" ng-model="vm.newText">
            <input type="text" placeholder="Enter correction here..." class="form-control" ng-model="vm.newCorrection">
            <span class="input-group-btn">
                <button type="button" ng-click="vm.addResponse(question)"
                        class="btn btn-md btn-two-lines btn-primary-dty-inverse pull-right" style="padding-top: 23px; padding-bottom: 23px">Save new Answer</button>
            </span>
        </div>
    </div>
</div>

<div style="margin-bottom: 15px">
    <span>
        <button ng-click="vm.addQuestion()" class="btn btn-primary-dty" style="margin-bottom: 15px">
            New question
        </button>
    </span>
    <div ng-show="vm.addingQuestion">
        <div class="input-group form-group">
            <span class="input-group-btn">
            <button type="button" ng-click="vm.registerQuestion()"
                    class="btn btn-md btn-primary-dty-inverse pull-right btn-two-lines" style="padding-top: 23px; padding-bottom: 23px" style="margin-bottom: 15px">Add Question</button>
            </span>
            <input type="text" placeholder="Enter question here..." class="form-control" ng-model="vm.newIntitule">
            <input type="text" placeholder="Enter question correction here..." class="form-control" ng-model="vm.newQuestionCorrection">
        </div>
        <div class="form-group">
            Add answers :
        </div>
        <div ng-repeat="newAnswer in vm.newAnswers">
            <div class="input-group">
                <span class="input-group-addon">
                    <input type="checkbox" ng-click="" ng-model="newAnswer.veracity" style="padding-top: 23px; padding-bottom: 23px">
                </span>
                <input type="text" placeholder="Enter answer here..." class="form-control" ng-model="newAnswer.text">
                <input type="text" placeholder="Enter correction here..." class="form-control" ng-model="newAnswer.correction">
                <span class="input-group-btn">
                <button type="button" ng-click="vm.addResponse(question)"
                        class="btn btn-md btn-two-lines btn-primary-dty pull-right" style="padding-top: 23px; padding-bottom: 23px">Save new Answer</button>
            </span>
            </div>
        </div>
    </div>
</div>


<button ng-click="vm.saveCourse()" class="btn btn-primary-dty-inverse" ng-disabled="vm.isSaving || vm.addingQuestion">
    Save the modifications
</button>
