#label {
    display: inline-block;
}

.footer{
    text-align: right;
    padding-right: 15px;
}

.form-control.pwdinvalid{
    border-color: #FA787E;
}

.form-control.pwdvalid{
    border-color: #78FA89;
}
