#label {
    display: inline-block;
}

.footer{
    text-align: right;
    padding-right: 15px;
}

.form-control.pwdvalid{
    border-color: #78FA89;
}

.form-control.pwdinvalid{
    border-color: #FA787E;
}

.rtl .a9-body .a9-form, .rtl .a9-body .a9-form {
    text-align: right
}

.jumbotronlogin{

}

