#label {
    display: inline-block;
}

.footer > p{
    text-align: right;
    padding-right: 15px;
}

.form-control.pwdvalid.ng-dirty{
    border-color: #78FA89;
}

.form-control.pwdinvalid.ng-dirty{
    border-color: #FA787E;
}

#email.ng-dirty.ng-valid{
    border-color: #78FA89;
}

#email.ng-dirty.ng-invalid{
    border-color: #FA787E;
}

.rtl .a9-body .a9-form, .rtl .a9-body .a9-form {
    text-align: right
}

.jumbotronlogin{
    color: #87102C;
    background-color: #f8f8f8;
    border-color: #e7e7e7;
}

nav.navbar.navbar-default.container > div > ul.nav.navbar-nav > li > a.activeDTY{
    background-color: #87102C;
    color: white;
}

.page-header-dty{
    padding-bottom: 9px;
    margin: 40px 0 20px;
    border-bottom:1px solid #87102c;
}

.page-header-dty > h1 {
    color: #87102c;
}

.page-header-dty > h1 > small {
    color: gray;
}

.panel-dty {
    border-color: #ddd;
}
.panel-dty > .panel-heading {
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
}
.panel-dty > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #ddd;
}
.panel-dty > .panel-heading .badge {
    color: #f5f5f5;
    background-color: #333;
}
.panel-dty > .panel-footer + .panel-collapse > .panel-body {
    border-bottom-color: #ddd;
}

.panel-dty > .panel-heading > h3 {
    color: #87102c;
}



.header-image {
    display: block;
    width: 100%;
    text-align: center;
    background: url('../images/coding2bis.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.headline {
    padding: 100px 0;
    background-color: transparent;
}

.headline h1 {
    font-size: 130px;
    background: transparent;
}

.headline h2 {
    font-size: 77px;
    background: transparent;

}

.featurette-divider {
    margin: 80px 0;
}

.featurette {
    overflow: hidden;
}

.featurette-image.pull-left {
    margin-right: 40px;
}

.featurette-image.pull-right {
    margin-left: 40px;
}

.featurette-heading {
    font-size: 50px;
}

.text-muted{
    color: #87102C;
}

.btn-primary.btn-lg{
    background-color: #87102C;
    width: 40%;
}


footer {
    margin: 50px 0;
}

@media(max-width:1200px) {
    .headline h1 {
        font-size: 140px;
    }

    .headline h2 {
        font-size: 63px;
    }

    .featurette-divider {
        margin: 50px 0;
    }

    .featurette-image.pull-left {
        margin-right: 20px;
    }

    .featurette-image.pull-right {
        margin-left: 20px;
    }

    .featurette-heading {
        font-size: 35px;
    }
}

@media(max-width:991px) {
    .headline h1 {
        font-size: 105px;
    }

    .headline h2 {
        font-size: 50px;
    }

    .featurette-divider {
        margin: 40px 0;
    }

    .featurette-image {
        max-width: 50%;
        max-height: 500px;
    }

    .featurette-image.pull-left {
        margin-right: 10px;
    }

    .featurette-image.pull-right {
        margin-left: 10px;
    }

    .featurette-heading {
        font-size: 30px;
    }
}

@media(max-width:768px) {
    .container {
        margin: 0 15px;
    }

    .featurette-divider {
        margin: 40px 0;
    }

    .featurette-heading {
        font-size: 25px;
    }
}

@media(max-width:668px) {
    .headline h1 {
        font-size: 70px;
    }

    .headline h2 {
        font-size: 32px;
    }

    .featurette-divider {
        margin: 30px 0;
    }
}

@media(max-width:640px) {
    .headline {
        padding: 75px 0 25px 0;
    }

    .headline h1 {
        font-size: 60px;
    }

    .headline h2 {
        font-size: 30px;
    }
}

@media(max-width:375px) {
    .featurette-divider {
        margin: 10px 0;
    }

    .featurette-image {
        max-width: 100%;
    }

    .featurette-image.pull-left {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .featurette-image.pull-right {
        margin-bottom: 10px;
        margin-left: 0;
    }
}



nav.navbar.navbar-default.container > div > ul.nav.navbar-nav > li > a.activeDTY{
    background-color: #87102C;
    color: white;
}
#courses {
    padding-top: 5%;
    /*
    padding-left:5%;
    padding-right:5%;
    padding-bottom: 5%;
    */
    margin-bottom:5%;
    background-color: #f5f5f5;
    border: 2px solid #87102c;
    border-radius: 6px;
    line-height: 40px;
    height:400px;
    text-align: center;
}

#badges {

    padding-top: 7.5%;
    /*padding-bottom: -2.5%;*/
    margin-bottom:5%;
    background-color: #f5f5f5;
    border-radius: 250px;
    border: 2px solid #87102c;
    height: 250px;
    width: 250px;
    text-align: center;
}

.list-group-item {
    background-color: lightgray;
}

.pager > .previous > a {
    color:#87102c;
}

.pager > .next > a {
    color:#87102c;
}

.btn-primary-dty {
    color: #87102c;
    background-color: #f5f5f5;
    border-color: #ddd;
}
.btn-primary-dty:focus,
.btn-primary-dty.focus {
    color: #87102c;
    background-color: #f5f5f5;
    border-color: #ddd;
}
.btn-primary-dty:hover {
    color: #87102c;
    background-color: #f5f5f5;
    border-color: cornflowerblue;
}

.btn-primary-dty-inverse {
    color: white;
    background-color: #87102c;
    border-color: #ddd;
}

.btn-primary-dty-inverse:hover {
    color: white;
    background-color: #87102c;
    border-color: cornflowerblue;
}

.label-default-dty {
    background-color: black;
}

.label-success-dty {
    background-color: #72aa5f;
    color: white;
}

.label-info-dty {
    background-color: #479dac;
    color: white;
}

.label-warning-dty{
    background-color: #ce9336;
    color:white;
}

.label-danger-dty{
    background-color: #ae1919;
    color: white;
}

.progress{
    width:216px;
}

.percent{
    /*position: absolute;
    color: black;*/
    color: #000000;
    position: absolute;

    left: 35%;
}

.graph-assiduousness{
    text-align:center;
}

ul > li>.pager-dty:hover{
    color: white;
    background-color: #87102c;
}

body{
    padding-top: 0;
}

.row-dty > div > h3 {
    color: #87102c;
}

.pagination-dty >li > a{
    color: #87102c;
    background-color: #f8f8f8;
}

.pagination-dty > .active >a{
    background-color: #87102c;
    border-color: #87102c;
}

.lesson-section {
    height: 100%;

    text-align: center;
    background: #eee;
}

.img-center {
    margin: 0 auto;
}