<jhi-alert></jhi-alert>


<div class="panel panel-default panel-dty" ng-repeat="bloc in vm.blocs">
    {{vm.setCompteur(1)}}
    <div class="panel-heading">
        <h3>Bloc : {{bloc.name}}</h3>
    </div>

    <ul class="list-group" ng-repeat="course in bloc.lessons | orderBy:'num_lesson'">
        <li class="list-group-item list-group-item-white"> Lesson {{vm.compteur}} : <a href ui-sref="modifyCourse({id:course.id})">{{course.title}}</a> <a class="glyphicon glyphicon-remove-circle rmvButton" ui-sref="editCourse.delete({id:course.id})" ></a></li>
        {{vm.addCompteur(1)}}
    </ul>
</div>
