<nav class="navbar navbar-default container" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" ng-click="vm.toggleNavbar()">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" ng-click="vm.collapseNavbar()">
                <span style="color: #87102C">Objective </span><span style="color: #4F405D">DTY</span>  - Online Lessons
            </a>
        </div>
        <div class="navbar-collapse" uib-collapse="vm.isNavbarCollapsed" ng-switch="vm.isAuthenticated()">
            <ul class="nav navbar-nav">
                <li>
                    <a ui-sref="home" ui-sref-active="activeDTY" ng-click="vm.collapseNavbar()">
                        <span class="glyphicon glyphicon-home"></span>
                        <span class="hidden-sm">Home</span>
                    </a>
                </li>
                <li>
                    <a href="" ui-sref="viewCourse" ui-sref-active="activeDTY" ng-click="vm.collapseNavbar()" ng-switch-when="true" has-authority="ROLE_USER">
                        <span>Today's lesson</span>
                    </a>
                </li>
                <li>
                    <a href="" ui-sref="progression" ui-sref-active="activeDTY" ng-click="vm.collapseNavbar()" ng-switch-when="true" has-authority="ROLE_USER">
                        <span>Progression</span>
                    </a>
                </li>
                <li ng-class="{activeDTY: vm.$state.includes('account')}" uib-dropdown class="dropdown pointer">
                    <a class="dropdown-toggle" uib-dropdown-toggle href="" id="lessons-menu" ng-switch-when="true">
                        <span>
                            <span class="glyphicon glyphicon-list-alt"></span>
                            <span class="hidden-sm">
                                Lessons
                            </span>
                            <b class="caret"></b>
                        </span>
                    </a>
                    <ul class="dropdown-menu" uib-dropdown-menu>
                        <li ui-sref-active="activeDTY" ng-switch-when="true">
                            <a ui-sref="introduction" ng-click="vm.collapseNavbar()">
                                <span>Introduction</span>
                            </a>
                        </li>
                        <li role="separator" class="divider"></li>
                        <li ui-sref-active="activeDTY" ng-switch-when="true">
                            <a ui-sref="password" ng-click="vm.collapseNavbar()">
                                <span>Git</span>
                            </a>
                        </li>
                        <li role="separator" class="divider"></li>
                        <li class="dropdown-header">Web development</li>
                        <li ui-sref-active="activeDTY" ng-switch-when="true">
                            <a ui-sref="sessions" ng-click="vm.collapseNavbar()">
                                <span>HTML/CSS</span>
                            </a>
                        </li>
                        <li role="separator" class="divider"></li>
                        <li ui-sref-active="activeDTY" ng-switch-when="true">
                            <a ui-sref="sessions" ng-click="vm.collapseNavbar()">
                                <span>Swift</span>
                            </a>
                        </li>
                        <li role="separator" class="divider" has-any-authority="ROLE_COACH, ROLE_ADMIN"></li>
                        <li class="dropdown-header" has-any-authority="ROLE_COACH, ROLE_ADMIN">Create/Edit lessons</li>
                        <li ui-sref-active="activeDTY" ng-switch-when="true" has-any-authority="ROLE_COACH, ROLE_ADMIN">
                            <a ui-sref="createCourse" ng-click="vm.collapseNavbar()">
                                <span>Create new lessons</span>
                            </a>
                        </li>
                        <li ui-sref-active="activeDTY" ng-switch-when="true" has-any-authority="ROLE_COACH, ROLE_ADMIN">
                            <a ui-sref="editCourse" ng-click="vm.collapseNavbar()">
                                <span>Edit existing lessons</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="" ui-sref="student-list" ui-sref-active="activeDTY" ng-click="vm.collapseNavbar()" ng-switch-when="true" has-authority="ROLE_COACH">
                        <span>Students</span>
                    </a>
                </li>
                <li>
                    <a href="" ui-sref="statistics" ui-sref-active="activeDTY" ng-click="vm.collapseNavbar()" ng-switch-when="true" has-authority="ROLE_COACH">
                        <span>Statistics</span>
                    </a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li ng-switch-when="false">
                    <a ui-sref-active="activeDTY" ui-sref="register" ng-click="vm.collapseNavbar()">
                        <span class="glyphicon glyphicon-plus-sign"></span>&nbsp;
                        <span>Register</span>
                    </a>
                </li>
                <li ng-switch-when="false">
                    <a href="" ui-sref-active="activeDTY" ng-click="vm.login()" id="login">
                        <span class="glyphicon glyphicon-log-in"></span>&nbsp;
                        <span>Sign in</span>
                    </a>
                </li>
                <!-- jhipster-needle-add-element-to-menu - JHipster will add new menu items here -->
                <li ng-class="{activeDTY: vm.$state.includes('entity')}" ng-switch-when="true" uib-dropdown class="dropdown pointer">
                    <a class="dropdown-toggle" uib-dropdown-toggle href="" id="entity-menu">
                        <span>
                            <span class="glyphicon glyphicon-th-list"></span>
                            <span class="hidden-sm">
                                Entities
                            </span>
                            <b class="caret"></b>
                        </span>
                    </a>
                    <ul class="dropdown-menu" uib-dropdown-menu>
                        <li ui-sref-active="active" >
                            <a ui-sref="badge" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span >Badge</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" >
                            <a ui-sref="student" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span >Student</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" >
                            <a ui-sref="coach" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span >Coach</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" >
                            <a ui-sref="lesson-done" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span >Lesson Done</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" >
                            <a ui-sref="lesson" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span >Lesson</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" >
                            <a ui-sref="bloc" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span >Bloc</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" >
                            <a ui-sref="question" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span >Question</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" >
                            <a ui-sref="response" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span >Response</span>
                            </a>
                        </li>
                        <!-- jhipster-needle-add-entity-to-menu - JHipster will add entities to the menu here -->
                    </ul>
                </li>
                <li ng-class="{activeDTY: vm.$state.includes('admin')}"  ng-switch-when="true" has-authority="ROLE_ADMIN" uib-dropdown class="dropdown pointer">
                    <a class="dropdown-toggle" uib-dropdown-toggle href="" id="admin-menu">
                        <span>
                            <span class="glyphicon glyphicon-tower"></span>
                            <span class="hidden-sm">Administration</span>
                            <b class="caret"></b>
                        </span>
                    </a>
                    <ul class="dropdown-menu" uib-dropdown-menu>
                        <li ui-sref-active="activeDTY">
                            <a ui-sref="user-management" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-user"></span>&nbsp;
                                <span>User management</span>
                            </a>
                        </li>
                        <li ui-sref-active="activeDTY">
                            <a ui-sref="jhi-metrics" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-dashboard"></span>&nbsp;
                                <span>Metrics</span>
                            </a>
                        </li>
                        <li ui-sref-active="activeDTY">
                            <a ui-sref="jhi-health" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-heart"></span>&nbsp;
                                <span>Health</span>
                            </a>
                        </li>
                        <li ui-sref-active="activeDTY">
                            <a ui-sref="jhi-configuration" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-list-alt"></span>&nbsp;
                                <span>Configuration</span>
                            </a>
                        </li>
                        <li ui-sref-active="activeDTY">
                            <a ui-sref="audits" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-bell"></span>&nbsp;
                                <span>Audits</span>
                            </a>
                        </li>
                        <li ui-sref-active="activeDTY">
                            <a ui-sref="logs" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-tasks"></span>&nbsp;
                                <span>Logs</span>
                            </a>
                        </li>
                        <li ng-hide="vm.inProduction || vm.swaggerDisabled" ui-sref-active="activeDTY">
                            <a ui-sref="docs" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-book"></span>&nbsp;
                                <span>API</span>
                            </a>
                        </li>
                        <!-- jhipster-needle-add-element-to-admin-menu - JHipster will add entities to the admin menu here -->
                        <li ng-hide="vm.inProduction">
                            <a href='/h2-console' target="_tab" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-hdd"></span>&nbsp;
                                <span>Database</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li ng-class="{activeDTY: vm.$state.includes('account')}" uib-dropdown class="dropdown pointer">
                    <a class="dropdown-toggle" uib-dropdown-toggle href="" id="account-menu" ng-switch-when="true">
                        <span>
                            <span class="glyphicon glyphicon-user"></span>
                            <span class="hidden-sm">
                                Account
                            </span>
                            <b class="caret"></b>
                        </span>
                    </a>
                    <ul class="dropdown-menu" uib-dropdown-menu>
                        <li ui-sref-active="activeDTY" ng-switch-when="true">
                            <a ui-sref="settings" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-wrench"></span>&nbsp;
                                <span>Settings</span>
                            </a>
                        </li>
                        <li ui-sref-active="activeDTY" ng-switch-when="true">
                            <a ui-sref="password" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-lock"></span>&nbsp;
                                <span>Password</span>
                            </a>
                        </li>
                        <li ui-sref-active="activeDTY" ng-switch-when="true">
                            <a ui-sref="sessions" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-cloud"></span>&nbsp;
                                <span>Sessions</span>
                            </a>
                        </li>
                        <li ui-sref-active="activeDTY" ng-switch-when="true">
                            <a href="" ng-click="vm.logout()" id="logout">
                                <span class="glyphicon glyphicon-log-out"></span>&nbsp;
                                <span>Sign out</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
